<div class="single-game">
  <p>{{ this.groupName }}</p>
  <br>
  <p>{{ this.location }}</p>
  <br />
  <p>{{ this.numberOfPlayers }}</p>
  <br>
  <p>{{ this.dayOfPlay }}</p>
  <br>
  <p>{{ this.time }}</p>
</div>