<h2>single game page</h2>
<div class="single-game">
  <p>{{ game.groupName }}</p>
  <br>
  <p>{{ game.location }}</p>
  <br />
  <p>{{ game.numberOfPlayers }}</p>
  <br>
  <p>{{ game.dayOfPlay }}</p>
  <br>
  <p>{{ game.time }}</p>
</div>