<div>
    <div class="create-button">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Created</a>
                    </li>

                    <li class="nav-item" id="show">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Joined</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            {{!-- Field Information --}}
                            <div class="col-md-12">
                                <div>
                                    <table class="table table-striped text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Players Number</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">#</th>
                                            </tr>
                                        </thead>
                                        {{#each game}}
                                        <tbody id="myTable">
                                            <tr class="table table-striped">
                                                <td>{{groupName}}</td>
                                                <td>{{numberOfPlayers}}</td>
                                                <td>{{dayOfPlay}}</td>
                                                <td>{{time}}</td>
                                                <td><a href="/singlegame/{{_id}}"
                                                        class="btn btn-danger button-to-info-games">Delete</a></td>
                                            </tr>
                                        </tbody>
                                        {{/each}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            {{!-- Field Information --}}
                            <div class="col-md-12">
                                <div>
                                    <table class="table table-striped text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Players Number</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">#</th>
                                            </tr>
                                        </thead>
                                        {{#each game}}
                                        <tbody id="myTable">
                                            <tr class="table table-striped">
                                                <td>{{groupName}}</td>
                                                <td>{{numberOfPlayers}}</td>
                                                <td>{{dayOfPlay}}</td>
                                                <td>{{time}}</td>
                                                <td><a href="/singlegame/{{_id}}"
                                                        class="btn btn-danger button-to-info-games">Leave</a></td>
                                            </tr>
                                        </tbody>
                                        {{/each}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>