<div class="sec-profile">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>First Name: </strong> {{user.firstname}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Surname: </strong> {{user.surname}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Email: </strong> {{user.email}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Birthdate: </strong> {{user.birthdate}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Position: </strong> {{user.position}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Goals: </strong> {{user.goals}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form" action="/profile/edit/{{user.id}}" method="POST">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input name="firstname" class="form-control" type="text" value="{{user.firstname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Surname</label>
                                <div class="col-lg-9">
                                    <input name="surname" class="form-control disabled" type="text" value="{{user.surname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label disabled">Email </label>
                                <div class="col-lg-9">
                                    <p> {{user.email}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Birthdate</label>
                                <div class="col-lg-9">
                                    <input name="birthdate" class="form-control" type="date" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Position</label>
                                <div class="col-lg-9">
                                    <select name="position" class="form-control" name="position">
                                        <option value="goalkeeper">Goalkeeper</option>
                                        <option value="defender">Defender</option>
                                        <option value="midfielder">Midfielder</option>
                                        <option value="forward">Forward</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label disabled">Username </label>
                                <div class="col-lg-9">
                                    <p> {{user.username}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="{{user.photo}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                
                <a href="/profile/uploadPhoto/{{user._id}}">Upload Photo</a>
            </div>
        </div>
    </div>
</div>