<div class="sec-profile">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Info</a>
                    </li>
                    <div id="show">
                        <li class="nav-item">
                            <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                        </li>
                    </div>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            {{!-- Field Information --}}
                            <div class="col-md-12">
                                <h4>Field Information</h4>
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Name </strong> {{game.location.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Location </strong> {{game.location.location}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Rating </strong> {{game.location.rating}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{!-- Game Information --}}
                            <div class="col-md-12">
                                <h4>Game Information</h4>
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Creator </strong> {{game.groupName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Players Needed </strong> {{game.numberOfPlayers}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Date </strong> {{game.dayOfPlay}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Time </strong> {{game.time}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{!-- Users --}}
                            <div class="col-md-12">
                                <h4>Confirmed Players</h4>
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-hover table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Goals</th>
                                            <th scope="col">#</th>
                                        </tr>
                                    </thead>
                                    {{#each game.players}}
                                    <tbody id="myTable">
                                        <tr class="table table-striped">
                                            <td>{{this.firstname}}</td>
                                            <td>{{this.position}}</td>
                                            <td>{{this.goals}}</td>
                                            <td>
                                                <form action="/user/{{../game.id}}/delete" method="POST">
                                                    <button class="btn btn-danger">Leave</button>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">

{{#unless attending}}
                                        
                                        <form action="/joingame/{{game.id}}" method="POST">
                                            <button class="btn btn-success">Join</button>
                                        </form>

{{/unless}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form" action="/edit/{{game.id}}" method="POST">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label disabled">User name </label>
                                <div class="col-lg-9">
                                    <p> {{user.firstname}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="groupName" class="col-lg-3 col-form-label form-control-label">Name</label>
                                <div class="col-lg-9">
                                    <input name="groupName" class="form-control" type="text" value="{{game.groupName}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="numberOfPlayers" class="col-lg-3 col-form-label form-control-label">Number
                                    of
                                    Players</label>
                                <div class="col-lg-9">
                                    <input name="numberOfPlayers" class="form-control disabled" type="number"
                                        value="{{game.numberOfPlayers}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dayOfPlay" class="col-lg-3 col-form-label form-control-label">Date</label>
                                <div class="col-lg-9">
                                    <input name="dayOfPlay" class="form-control" type="date" value="{{game.dayOfPlay}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="time" class="col-lg-3 col-form-label form-control-label">Time</label>
                                <div class="col-lg-9">
                                    <select name="time" class="form-control">
                                        <option value="{{game.time}}">13:00 - 14:30</option>
                                        <option value="14:30 - 16:00">14:30 - 16:00</option>
                                        <option value="16:00 - 17:30">16:00 - 17:30</option>
                                        <option value="17:30 - 19:00">17:30 - 19:00</option>
                                        <option value="19:00 - 20:30">19:00 - 20:30</option>
                                        <option value="20:30 - 22:00">20:30 - 22:00</option>
                                        <option value="22:00 - 23:30">22:00 - 23:30</option>
                                        <option value="23:30 - 01:00">23:30 - 01:00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center" id="map">

                <script>
                    var map, infoWindow;
                    let markersArray = [];
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: { lat: 38.6992185, lng: -9.2001777 },
                            zoom: 11
                        });
                        addMarker({ lat: 38.6992185, lng: -9.2001777 }, "green");
                        infoWindow = new google.maps.InfoWindow;

                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function (position) {
                                var pos = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };

                                addMarker({ lat: position.coords.latitude, lng: position.coords.longitude }, "yellow");
                                infoWindow.setPosition(pos);
                                infoWindow.setContent('Location found.');
                                infoWindow.open(map);
                                map.setCenter(pos);
                            }, function () {
                                handleLocationError(true, infoWindow, map.getCenter());
                            });
                        } else {
                            // Browser doesn't support Geolocation
                            handleLocationError(false, infoWindow, map.getCenter());
                        }
                    }
                    function addMarker(latLng, color) {
                        let url = "http://maps.google.com/mapfiles/ms/icons/";
                        url += color + "-dot.png";

                        let marker = new google.maps.Marker({
                            map: map,
                            position: latLng,
                            icon: {
                                url: url
                            }
                        });

                        //store the marker object drawn in global array
                        markersArray.push(marker);
                    }

                    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                        infoWindow.setPosition(pos);
                        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
                        infoWindow.open(map);
                    }
                </script>
            </div>
        </div>
    </div>
</div>